
 
  body {
    font-family: Lato, sans-serif;
    font-size: 40px;
    /* width: 100%; */
    margin:  50px 0px 0px 0px; 
    
  }
  
  [class^="box-"] {
    text-align: center;
    display: grid;
    border: solid 1px #808992;
    border-radius: 15px;
    height: 100%;
    padding: 15px 15px ;
    
    /* grid-column: span 1; */
  }
  .detail{
      color: #1AB07A;
      font-weight: bolder;
      font-size: 35px;
  }
  .tottal{
    border: none;
    color: white;
    background-color: #1ab07a;
    background-image: linear-gradient(0deg, #1ab07a 0%, #8ce0bf 88%);
    

  }
  .chart{
    width: 100%;
  }
  .card h4 {
    text-align: center;
	font-size: px;
	font-weight: lighter;
	margin: 10px 0;
}
  .container {
    display: grid;
    gap: 50px  ;
    align-items: center;
    margin: 20px 60px;
    grid-template-rows: 320px 200px 200px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    grid-template-areas:
      "A    H    I "
      "B    D    C "
      "E    F    G"
     ;
  }
  
  .box-1 {
    grid-area: A;
  }
  .box-2 {
    grid-area: B;

  }
  .box-3 {
    grid-area: C;
 
  }
  .box-4 {
    grid-area: D;
    
  }
  .box-5 {
    grid-area: E;
  }
  .box-6 {
    grid-area: F;
  }
  .box-7 {
    grid-area: G;
  }
  .box-8 {
    grid-area: H;
  }
  .box-9 {
    grid-area: I;
  }
    